html {
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html, body {
	height: 100%;
	margin: 0;
}

#wrapper {
	min-height: 100%;
}

body {
	color: black;
	display: table;
	font-size: max(1.1em, 3.2vh);
	font-family: 'EB Garamond', serif;
	line-height: 100%;
	padding: max(4vw,1.2em);
	margin-left: 1vw;
	margin-right: 12vw;
}

::selection {
	background: #d0dddf;
}

.myPar {
	margin: 2% 0% 1% 0%;
	padding: .2em 0% 1.2vh 0%;
}

p {
	margin: 0%;
	padding: 0% 0% 1vh 0%;
}

a {
	color: #152fac;
	text-decoration: none;
}

a:hover {
	color: #415a8e;
}

.sub {
	margin-left: 1.7em;
	text-indent: -1.7em;
	color:#5f6a6c; 
	font-size:.83em;
}

mark {
	background-color: black;
	color: white;
}

.hidden-text {
	color:transparent;
	font-size:0;
}