html {
	overflow-x: hidden;
	cursor: crosshair;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
	background: white;
	font: black;
	display: table;
	font-size: 2em;
	font-family: 'Gelasio', serif;
}

::selection {
	background: #22a975;
}


.split {
	position: absolute;
}

.left {
	padding-left: 2%;
	padding-top: 2%;
}

.right {
	display: block;
	margin: 4.4% 0% 0% 26%;
	padding: 0.5% 5% 0% 0%;
	line-height: 1.6em;
}

p {
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
}

input {
	background:none!important;
	color:inherit;
	border:none; 
	padding:0!important;
	font: inherit;
	color: #152fac;
	/*border-bottom:1px solid #00ffff; */
	cursor: crosshair;
}

input:focus {
	outline: none;
	color: #429c15;
}

.toggles {
	font-size: 1em;
}

a {
	color: #152fac;
	text-decoration: none;
}

a:hover {
	color: #e18c54;
	cursor: crosshair;
}

mark {
	background-color: black;
	color: white;
}