html {
	overflow-x: hidden;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html, body {
	height: 100%;
	margin: 0;
}

#wrapper {
	min-height: 100%;
}

body {
	font: black;
	display: table;
	font-size: 1.55em;
	font-family: 'Gelasio', serif;
	padding: 2em;
}

::selection {
	background: #cfcfcf;
}


.split {
	position: absolute;
}

p {
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
}

a {
	color: #3c6d24;
	text-decoration: none;
}

a:hover {
	color: #415a8e;
}

mark {
	background-color: black;
	color: white;
}

.hidden-text {
	color:transparent;
	font-size:0;
}